body{
    padding: 30px 50px;
}
.piaic{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.piaicfulform{
    color: rgb(49, 49, 49);
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .2em;
    font-size: 20px;
    text-shadow:3px 3px 3px  grey;
}
.firstP{
    line-height: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px;
    font-size: 1.3em;
}
.Headings{
    color: rgb(59, 59, 59);
    font-family: 'Segoe UI','Courier New', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}
.Headings::first-letter{
    font-size: 1.5em;
    font-family: 'Trebuchet MS','Segoe UI';
}
.secondP{
    line-height: 28px;
    color: rgb(41, 41, 41);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}